# Created by .gitignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.idea
.idea_modules
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Target directories
target/
project/target
project/project/target

# Scala-IDE specific
.scala_dependencies
.worksheet
